.side1 {
  float: left;
  width: 50%;
  background-color: white;
  display: flex;
  height: 100vh;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 54px;
  letter-spacing: -0.02em;
  color: #ffffff;
  align-items: center;
  flex-direction: column;
  margin: auto;
  border-right: 1.5px solid #3495b3;
  position: relative;
}
.Arrow1 {
  margin-right: 20px;
  font-weight: 900;
  color: #3495b3;
  text-align: center;
  font-size: 54px;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.68px;
  text-decoration: none;
}

.Arrow2 {
  margin-left: 20px;
  font-weight: 900;
  color: #3495b3;
  text-align: center;
  font-size: 54px;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.68px;
  text-decoration: none;
}
.side2 {
  position: relative;
  float: left;
  width: 50%;
  display: flex;
  height: 100vh;
  font-style: normal;
  justify-content: center;
  font-weight: 700;
  font-size: 46px;
  line-height: 54px;
  letter-spacing: -0.02em;
  color: #3495b3;
  align-items: center;
  flex-direction: column;
  margin: auto;
  border-left: 1.5px solid #3495b3;
}

.image3 {
  width: 266.428px;
  height: 396px;
  flex-shrink: 0;
  margin-top: 303.47px;
}

.image4 {
  width: 492.977px;
  height: 332.297px;
  flex-shrink: 0;
  margin-top: 207px;
}

.text1 {
  color: #3495b3;
  text-align: center;
  font-size: 34px;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.68px;
  text-decoration: none;
}
.midImg {
  height: 262px;
  width: 412px;
}

.imgDiv {
  height: 262px;
  width: 412px;
  margin-top: 179px;
  margin-right: 150px;
}

.allAbove {
  position: absolute;
  height: 100%;
  width: 20%;
  z-index: 1000;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column; 
  margin-left: 40%;
}

.imgbtn{
  background-color: transparent;
  border: none;
}

.formall{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 155px;
}

.formInput{
  border-radius: 60px;
    border: 3px solid #d9d9d9;
    background: #d9d9d9;
    width: 436px;
    height: 80px;
    flex-shrink: 0;
    text-align: center;
    color: #747474;
    text-align: center;
    font-size: 34px;
    font-family: Arial;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.68px;
    margin-bottom: 68px;
    padding-left: 5px;
    padding-right: 5px;
} 

.submitbtn{
  border-radius: 10px;
    background: #3495b3;
    width: 300px;
    height: 49px;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-size: 19px;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.38px;
}

.back {
  position: absolute;
  z-index: 1001;
  margin: 2%;
}
.text2 {
  margin-top: 71px;
  border-radius: 60px;
  border: 3px solid #3495b3;
  background: #fff;
  width: 392px;
  height: 189px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #3495b3;
  text-align: center;
  font-size: 34px;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.68px;
}

.DandItext {
  color: #3495b3;
  text-align: center;
  font-size: 34px;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.68px;
  text-decoration: none;
  margin-top: 73px;
  margin-left: 84px;
}

.ForcastText {
  color: #3495b3;
  text-align: center;
  font-size: 34px;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.68px;
  text-decoration: none;
  margin-top: 91px;
  margin-left: 45px;
}

.Nostyle {
    background-color: transparent;
    border: none;
    color: #3495b3;
    text-align: center;
    font-size: 34px;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
  line-height: normal;
  letter-spacing: -0.68px;
}
